body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Arial;
}

/* LoginHeader */

.login--container {
  width: 100%;
  height: 27px;
  text-align: right;
  background-color: #16343b;
  background-image: url(../images/header_light.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  box-shadow: 0 7px 11px 0 #ccc;
}

.login--welcome, .login--link, .login--pipe {
  display: inline-block;
  margin: 7px;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
}

.login--link {
  margin-right: 53px;
  text-decoration: none;
}

/* Nav */

.nav--container {
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  padding-bottom: 7px;
  padding-left: 11px;
  box-shadow: 0 4px 0 0 #eceaea;
}

.nav--list {
  padding: 0;
  margin-top: 39px;
  margin-right: 107px;
  font-size: 14px;
  list-style-type: none;
}

.nav--list li {
  display: inline-block;
  margin-right: 35px;
}

.nav--list li a {
  color: #777;
  text-decoration: none;
}

/* Main Content */

.main-content {
  min-height: 340px;
  margin-right: 20px;
  margin-bottom: 5px;
}

/* Modules Menu */
.modules--menu {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  padding: 20px 5% 26px;
  margin-bottom: 100px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

.module-item {
  width: 120px;
  margin: 10px;
  text-align: center;
  background: #cdf4fb;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#b8c8d4));
  background: -moz-linear-gradient(top, #fff, #b8c8d4);
  background:   -o-linear-gradient(top, #fff, #b8c8d4);
  box-shadow: 6px 6px 20px 2px #8c8c8c;
  border: solid 1px #192a2e;
}

.module-image {
  margin: 20px 10px;
}

.module-name {
  width: 119px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, from(#6e6e6e), to(#343434));
  background: -moz-linear-gradient(top, #6e6e6e, #343434);
  background:   -o-linear-gradient(top, #6e6e6e, #343434);
  border: solid 1px #313131;
}

.module-name p {
  margin: 14px;
}
